{% extends 'base.html.twig' %}

{% block title %}Здравствуй!{% endblock %}

{% block body %}

    {% include 'profile/navigation.html.twig' %}

    <div class="container pt-4">
        <div class="row">
            <div class="content row col-md-10 justify-content-around">
                <a href="">All programs</a>
                <a href="">All programs</a>
                <a href="">All programs</a>
            </div>
            <div class="notifies col-md-2">
                notifications
            </div>
        </div>
    </div>

{% endblock %}
