<div class="container">
    <nav class="admin-nav row justify-content-between">
        <ul class="nav flex-column flex-sm-row">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user.sub.routine.show') }}">My programs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">My recommendations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user.routine') }}">Search of care programs</a>
            </li>
        </ul>
        <div class="nav-item row">
            <a class="nav-link" href="">Settings</a>
            <a class="nav-link" href="{{ path('app.logout') }}">Log out</a>
        </div>
    </nav>
</div>