<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('admin.stats') }}">Статистика</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('admin.users') }}">Пользователи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin.experts') }}">Эксперты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin.admins') }}">Администраторы</a>
    </li>
</ul>