{% extends 'admin/base.html.twig' %}

{% block body %}
    {% include 'admin/navigation.html.twig' %}

    <div class="container">
        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.experts') }}">Эксперты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Администраторы</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <div class="search-form">
                    <form action="{{ path('admin.experts') }}" method="get" class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control" name="findByNameExpert" id="findExpert" placeholder="Имя">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control" name="findByEmailExpert" id="findByEmailExpert" placeholder="E-mail">
                        </div>
                        <div class="form-check mx-sm-3 mb-2">
                            <input class="form-check-input" type="checkbox" name="checkActiveExpert" id="checkActiveExpert">
                            <label class="form-check-label" for="checkActiveExpert">
                                Только подтверждённые
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Поиск</button>
                    </form>
                </div>
                <div class="search-result pt-3">

                    {% include('admin/expert-table.html.twig') %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}