{% extends 'admin/base.html.twig' %}

{% block body %}
    {% include 'admin/navigation.html.twig' %}

    <div class="container">
        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.experts') }}">Эксперты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Администраторы</a>
                    </li>
                </ul>
            </div>

            <div>content</div>
        </div>
    </div>

{% endblock %}