<div class="container">
    <nav class="admin-nav row justify-content-between">
        <ul class="nav flex-column flex-sm-row">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin.users') }}">Управление пользователями</a>
            </li>
        </ul>
        <div class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">logout</a>
        </div>
    </nav>
</div>