<div class="container">
    <nav class="admin-nav row justify-content-between">
        <ul class="nav flex-column flex-sm-row">
            <li class="nav-item">
                <a class="nav-link" href="">Мои программы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Мои рекомендации</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Поиск программ по уходу</a>
            </li>
        </ul>
        <div class="nav-item row">
            <a class="nav-link" href="">Настройки</a>
            <a class="nav-link" href="{{ path('app_logout') }}">Выход</a>
        </div>
    </nav>
</div>