<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('routine') }}">Все программы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('routine.create') }}">Создать</a>
    </li>
</ul>