{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    {% include('profile-expert/navigation.html.twig') %}

    <div class="row flex-column flex-sm-row mt-4">
        <div class="col-md-3">
            {% include('routine/left-panel.html.twig') %}
        </div>
        <div class="col-md-9">
            
        </div>
    </div>
</div>