{% extends 'base.html.twig' %}

{% block body %}

    {% include('profile/navigation.html.twig') %}

    <div class="container">
        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-3">
                {% include('routine/user.left-panel.html.twig') %}
            </div>
            <div class="col-md-9">

                <h4 class="pb-4">Number of days: {{ routine.getRoutineDays.count }}</h4>

                {% if user not in routine.getSubscriber %}
                    <a href="#" class="btn btn-primary mb-4">Subscribe</a>
                {% endif %}
                <div class="card-deck">
                    {% for day in routine.getRoutineDays %}
                        <div class="col-sm-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Number of day: {{ day.dayOrder }}</h5>
                                    <p class="card-text"></p>
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}