<div class="container">
    <nav class="admin-nav row justify-content-between">
        <div class="nav-item row pl-5">
            <a href="{{ path('app.logout') }}">Log out</a>
        </div>
        <div class="nav-item row">
            <h1 class="h3 font-weight-normal align-self-center">Private expert profile</h1>
        </div>
        <div class="nav-item row pr-5">
            <a href="{{ path('profile.expert.edit') }}">Edit</a>
        </div>
    </nav>
</div>