{% extends 'base.html.twig' %}

{% block body %}

    {% include 'profile-expert/navigation.html.twig' %}

    <div class="container">
    <div>
        <div class="row justify-content-center pt-4" id="tab">
            <img class="img avatar" src="{{ asset('/profile-expert-photo/anonim.png') }}" width="100" height="100" alt="">
        </div>

        <div class="row justify-content-center">
            <a href="" rel="tooltip" title="changePhoto">Change photo</a>
        </div>

        <div class="tab-content row justify-content-center pt-3" id="tab">
            {{ user.name }}
        </div>
        <div class="tab-content row justify-content-center" id="tab">
            {{ user.email }}
        </div>
        <div class="tab-content row justify-content-center pt-4" id="tab">
            <a class="h4">Programs</a>
        </div>
        <div class="tab-content row justify-content-center pt-4" id="tab">
            <a class="nav-link active" href="{{ path('expert.routine.create') }}">Create program</a>
        </div>
        {% for certificate in user.getUserCertificates %}
        {% endfor %}
    </div>
{% endblock %}